/* Generics */

.divider-star {
    width: 30%;
}

/* Header */

header {
    background-color: #2c3e50;
}

.navbar {
    height: 80px;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar .navbar-toggler {
    border-color: white;
    padding: 0;
}

.navbar .navbar-toggler-icon {
    background-image: none;
    font-size: 2rem;
    height: auto;
}

/* Jumbotron */

.jumbotron {
    background-color: #1abc9c;
}

.jumbotron .avatar {
    width: 200px;
}

.divider-star::before,
.divider-star::after {
    content: "";
    display: inline-block;
    height: 3px;
    width: 100%;
    background-color: white;
}

.divider-star.divider-black::before,
.divider-star.divider-black::after {
    background-color: var(--bs-body-color);
}

/* Porfolio */

/* About */

.about {
    background-color: #1abc9c;
}

.about .about_col {
    min-height: 200px;
    background-color: antiquewhite;
    border: 1px dashed black;
}

/* Contact */

.contact_col {
    min-height: 200px;
    background-color: coral;
    border: 1px dashed black;
}

/* Upper Footer */

.upper_footer {
    padding: 40px 0;
    background-color: #3a546d;
}

.upper_footer_col {
    min-height: 50px;
    background-color: antiquewhite;
    border: 1px dashed black;
}

/* Bottom Footer */

.bottom_footer {
    color: white;
    padding: 20px 0 30px 0;
    background-color: #2c3e50;
}