/* Generics */

:root {
    --primary_color: #1abc9c;
    --dark_color: #2c3e50;
}

.divider-star {
    width: 30%;
}

.btn_primary,
.btn_primary:hover {
    background-color: var(--primary_color);
}

/* Header */

header {
    background-color: var(--dark_color);
}

.navbar {
    height: 80px;
}

.navbar .navbar-toggler-icon {
    background-image: none;
    height: auto;
}

/* Jumbotron */

.jumbotron {
    background-color: var(--primary_color);
}

.jumbotron .avatar {
    width: 200px;
}

.divider-star::before,
.divider-star::after {
    content: "";
    display: inline-block;
    height: 3px;
    width: 100%;
    background-color: white;
}

.divider-star.divider-black::before,
.divider-star.divider-black::after {
    background-color: var(--bs-body-color);
}

/* About */

.about {
    background-color: var(--primary_color);
}

/* Upper Footer */

.upper_footer {
    background-color: #3a546d;
}

.theme_creator,
.theme_creator:hover {
    color: var(--primary_color);
}

.upper_footer_col .fa-brands {
    width: 40px;
    height: 40px;
}

/* Bottom Footer */

.bottom_footer {
    background-color: var(--dark_color);
}