/* Generics */

main section {
    margin: 50px 0;
}

/* Header */

header {
    background-color: #2c3e50;
}

.header_row {
    height: 80px;
}

.header_col {
    min-height: 20px;
    background-color: aquamarine;
    border: 1px dashed black;
}

/* Jumbotron */

.jumbotron {
    padding: 20px 0;
    background-color: #1abc9c;
}

.jumbotron .jumbotron_col {
    min-height: 450px;
    background-color: antiquewhite;
    border: 1px dashed black;
}

/* Porfolio */

.portfolio_col {
    min-height: 200px;
    background-color: coral;
    border: 1px dashed black;
}

/* About */

.about {
    padding: 40px 0;
    background-color: #1abc9c;
}

.about .about_col {
    min-height: 300px;
    background-color: antiquewhite;
    border: 1px dashed black;
}

/* Contact */

.contact_col {
    min-height: 200px;
    background-color: coral;
    border: 1px dashed black;
}

/* Upper Footer */

.upper_footer {
    padding: 40px 0;
    background-color: #3a546d;
}

.upper_footer_col {
    min-height: 50px;
    background-color: antiquewhite;
    border: 1px dashed black;
}

/* Bottom Footer */

.bottom_footer {
    color: white;
    padding: 20px 0 30px 0;
    background-color: #2c3e50;
}